.row {
    margin-top: 8px;
    min-height: 100px;
}

.problemjump {
    padding: 15px;
    height: 150px;
}

pre {
    background-color: rgb(239, 239, 239);
    padding: 5px;
    border-radius: 5px;
}

blockquote {
    padding: 5px;
    border-radius: 3px;
    margin: 0;
    padding-left: 8px;
    border-left: 3px solid gray;
    margin-bottom: 16px;
}

blockquote>p {
    margin: 0;
    padding: 0;
}

.problemjump input {
    max-width: 95%;
    border: 1px solid #0e90d2;
    margin-bottom: 2px;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.item img {
    max-height: 399px;
    margin: 0 auto;
}

.item {
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.xq {
    display: none;
}

table tr td {
    text-align: center;
    border: 1px soild black;
    margin: 0;
    padding: 5px 15px;
}

table tr th {
    text-align: center;
    border: 1px soild black;
    margin: 0;
    padding: 5px 15px;
}

table {
    width: 100%;
}



@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}