.thint {
    width: 50px;
}

.mthint {
    width: 100px;
}

.problembox>div {
    padding: 10px;
    min-height: 50vh;
    border-radius: 1px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.problemsubbox {
    padding-left: 10px;
}

.problemsubbox>div {
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 1px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.top-pos {
    position: fixed;
    right: calc(50vw - 200px);
    z-index: 9999;
    top: 55px;
    overflow: auto;
    max-height: 25vh;
    width: 400px;
}

.right-pos {
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 0;
    overflow: auto;
    max-height: 99vh;
    /*scrollbar-width: 2px;*/
}

.right-pos::-webkit-scrollbar {
    width: 2px;
}

.pink {
    color: pink;
}

.master-b-m {
    border-bottom: 2px solid blueviolet;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}

.visitor-b-m {
    border-bottom: 2px solid green;
    box-shadow: 8px 8px 2px 1px rgba(0, 150, 0, .2);
}

.my-b-m {
    border-bottom: 2px solid pink;
    box-shadow: 8px 8px 2px 1px rgba(150, 0, 0, .2);
}

.danger-b-m {
    border-bottom: 2px solid red;
    box-shadow: 4px 4px 2px 1px rgba(150, 0, 0, .2);
}
.success-b-m {
    border-bottom: 2px solid green;
    box-shadow: 4px 4px 2px 1px rgba(0, 150, 0, .2);
}
.info-b-m {
    border-bottom: 2px solid rgba(0, 0, 255, .2);
    box-shadow: 4px 4px 2px 1px rgba(0, 100, 255, .2);
}
.warning-b-m {
    border-bottom: 2px solid orange;
    box-shadow: 4px 4px 2px 1px rgba(255, 150, 0, .2);
}

.main .abox {
    min-height: 100px;
    padding: 5px;
    height: 100%;
    border-radius: 1px;
    font-weight: 300;
}

.s-table-item{
    padding: 5px;
    padding-left: 10px;
    position: relative;
}
.s-table-item>div{
    border: 1px solid;
    border-radius: 1px;
    
    height: 100px;
    max-height: 100px;
    overflow: auto;
    word-break: break-all;
    padding: 2px;
    background: rgba(255,255,255,0.5);
}
.s-table-item>div::-webkit-scrollbar{
    width: 1px;
}
.s-table-item:after{
    content: "123";
    font-size: 0;
    position: absolute;
    left: 4px;
    width: 3px;
    background: #fff;
    top: 0;
    height: 100%;
}

.hiddenchild>*{
    display: none;
}

@media (max-width: 778px) {
    .visible-lg {
        display: none;
    }
}

@media (min-width: 778px) {
    .visible-nlg {
        display: none;
    }
}

.max-h-400{
    max-height: 400px;
    overflow: auto;
}

.descriptionbody {
    .header {
        display: flex;
        align-items: left;
        height: 100px;

        .image {
            width: 100px;
            height: 100px;
            margin-right: 10px;

            img {
                width: 100px;
                height: 100px;
            }
        }

        .username {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: left;

            .desc {
                font-size: 1.5rem;
                font-weight: 600;
                color: #333;
            }

            .sub-desc {
                font-size: 0.875rem;
                font-weight: 400;
                color: #999;
            }
        }
    }

    .selfdesc {
        .desc-row {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            line-height: 25px;

            .title {
                font-size: 1.05rem;
                font-weight: 500;
                color: #333;

                .bi {
                    margin-right: 5px;
                    margin-left: 2px;
                }

                text-wrap: none;
                word-break:keep-all;
            }

            .desc {
                font-size: 1.05rem;
                font-weight: 400;
                color: #444;
                max-width: 70%;
                text-align: right;
                padding-left: 5px;
            }
        }
    }

    .buttons {
        align-items: center;
        display: flex;
        justify-content: center;

        .btn {
            margin: 0 5px;
        }
    }
}
