/* Color classes for text and background */
.text-pink {
    color: pink;
}

.bg-pink {
    background-color: pink;
}

.text-blue {
    color: blue;
}

.bg-blue {
    background-color: blue;
}

.text-green {
    color: green;
}

.bg-green {
    background-color: green;
}

.text-red {
    color: red;
}

.bg-red {
    background-color: red;
}

.text-orange {
    color: orange;
}

.bg-orange {
    background-color: orange;
}

.text-yellow {
    color: yellow;
}

.bg-yellow {
    background-color: yellow;
}

.text-purple {
    color: purple;
}

.bg-purple {
    background-color: purple;
}

.text-gray {
    color: gray;
}

.bg-gray {
    background-color: gray;
}

.text-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.text-black {
    color: black;
}

.bg-black {
    background-color: black;
}

.text-brown {
    color: brown;
}

.bg-brown {
    background-color: brown;
}

.text-cyan {
    color: cyan;
}

.bg-cyan {
    background-color: cyan;
}

.text-magenta {
    color: #FB7299;
}

.bg-magenta {
    background-color: #FB7299;
}
